
{% include "partials/header.njk" %}

{% include "partials/comicArrows.njk" %}
  
    <comic>
      <a href="comic.png">
        <img src="{{ image }}" alt="{{ altText }}" title="{{ altText }}" />
      </a>
    </p>

{% include "partials/comicArrows.njk" %}
  
    <comments>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
    </comments>

  
  <script src="arrows.js"></script>

{% include "partials/htmlend.njk" %} 
