
{% include "partials/head.njk" %}
  </head>
{% include "partials/nav.njk" %}
{# {{ content | safe }} #}
  <div class="hubFloat">
  <pre class="hubItem" id="hubVideoDiv"><a href="https://www.youtube.com/channel/UCrLkMOV08B50cJFD2ocWdMA" id="hubVideos">
_________________________________
|                                |
|                                |
|        _     _                 |
|  __ __(_) __| | ___  ___  ___  |
|  \ V /| |/ _' |/ -_)/ _ \(_-/  |
|   \_/ |_|\__/_|\___|\___//__/  |
|                                |
|                                |
|                                |
|                                |
|________________________________|</a></pre>

  </div>
  </body>

  <script>
{% include "script/hub.js" %}
  </script>

</html>
