
{% include "partials/head.njk" %}
  </head>
{% include "partials/nav.njk" %}
{# {{ content | safe }} #}
  <div class="hubFloat">
  <pre class="hubItem" id="hubComicDiv"><a href="/comic/01/01/">
________________________
|                       |
|      C O M I C S      |
|  _______    ________  |
| |  o    |  |  o     | |
| |  |    |  |  |   o | |
| |_/\____|  |_/\___|_| |
|  ________   ________  |
| |  o  o  | |  o     | |
| |  |  |  | |  |  ___| |
| |_/\__/\_| |_/\_|___| |
|_______________________|</a></pre>

  <pre class="hubItem" id="hubVideoDiv"><a href="/videos/" id="hubVideos">
_________________________________
|                                |
|                                |
|        _     _                 |
|  __ __(_) __| | ___  ___  ___  |
|  \ V /| |/ _' |/ -_)/ _ \(_-/  |
|   \_/ |_|\__/_|\___|\___//__/  |
|                                |
|                                |
|                                |
|                                |
|________________________________|</a></pre>

  </div>
  </body>

  <script src="hub.js"></script>

</html>
