body {
  background-color: black;
  margin-left: 5%;
  margin-right: 5%;
  color: white;
  font-family: verdana;
  text-align: center;
  font-size: 24px;
}
.home {
  text-align: left;
  font-size: 40px;
}
nav {
  background-color: black;
  font-size: 30px;
}

a:active, a:visited, a:link {
  text-decoration: none;
  color: #8FE98A;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
}
a:hover {
  text-decoration: none;
  color: #87CEEB;
  transition-property: color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.text {
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
  text-indent:40px;
}



/* Input */
input[type=text], textarea {
  background: #172117;
  border: 5px solid #8FE98A;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
}
input[type=text]:hover, textarea:hover {
  background: #171e21;
  border: 5px solid #87CEEB;
  color: #87CEEB;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
}
input[type=text] {
  resize: vertical;
  width: 20%;
  height: 30px;
}
textarea {
  resize: vertical;
  width: 35%;
  height: 175px;
}
input[type=submit] {
  background: #172117;
  color: white;
  border: 4px solid #8FE98A;
  border-radius: 5px;
  height: 45px;
  width: 85px;
  font: bold arial,sans-serif;
  font-size: 17px;
  text-shadow: none;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
}
input[type=submit]:hover {
  background: #171e21;
  color: #87CEEB;
  border: 4px solid #87CEEB;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: linear;
}




/* Comic styling */
.comicArrows {
  font-size: 28px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-evenly;
}
.comic {
  width: 100%;
  height: auto;
}
.commentForm {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.commentHeader {
  margin-left: 27%;
  text-align: left;
}
.comments {
  margin-left: 28%;
  margin-right: 28%;
  text-align: left
}



}
