    <comicArrows>
      <a href="/comic/01/01/"><<</a>
      <a href="" class="backArrow"><</a>
      <a href="/comic/01/01/">[=]</a>
      <a href="" class="nextArrow">></a>
      <a href="/comic/latest.php">>></a>
    </p>
