<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="noodp,noydir">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="72x72" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="150x150" href="/apple-touch-icon.png" />

    <h1 class="home">
      <a href="/">
      <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
      Comrade Klaymore
      </a>
    </h1>

    <nav>
      <a href="/about/">About</a> ~
      <a href="/comic/01/01/">Comic</a> ~
      <a href="https://www.youtube.com/channel/UCrLkMOV08B50cJFD2ocWdMA">Videos</a>
    </nav>
