<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="robots" content="noodp,noydir">
    <link rel="stylesheet" href="/css/style.css">
