
  <body>

    <h1 class="home">
      <a href="/" style="font-size: 100%;">
        <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
        Klaymore
      </a>
      ~
      <a href="/Rxse" style="font-size: 60%;">
        Rxse
      </a>
    </h1>

    <nav>
      <a href="/about/">About</a> ~
      <a href="https://github.com/K1aymore">Github</a> ~
      {# <a href="/comics/">Comics</a> ~ #}
      <a href="/videos/">Videos</a>
    </nav>
