  <script src="/css/mobile.js"></script>

  <body>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="72x72" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="150x150" href="/apple-touch-icon.png" />

    <h1 class="home">
      <a href="/">
      <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
      Comrade Klaymore
      </a>
    </h1>

    <nav>
      <a href="/about/">About</a> ~
      <a href="/comic/01/01/">Comic</a> ~
      <a href="/videos/">Videos</a>
    </nav>
