
  <body>

    <h1 class="home">
      <a href="/">
      <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
      Comrade Klaymore
      </a>
    </h1>

    <nav>
      <a href="/about/">About</a> ~
      <a href="/comics/">Comics</a> ~
      <a href="/videos/">Videos</a>
    </nav>
