
  <body>

    <h1 class="home">
      <a href="/Rxse">
        Rxse
      </a>
      ~
      <a href="/">
        <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
        Klaymore
      </a>
    </h1>

    <nav>
      {# <a href="/about/">About</a> ~ #}
      <a href="/Rxse/comics/">Comics</a> ~
      <a href="/Rxse/videos/">Videos</a>
    </nav>
