
  <body>

    <h1 class="home">
      <a href="/Rxse">
        Rxse
      </a>
      ~
      <a href="/" style="font-size: 60%;">
        <!--     <img src="logo.png" alt="Snazzy Chad" style="height:100px;width:100px;"/> -->
        Klaymore
      </a>
    </h1>

    <nav>
      {# <a href="/about/">About</a> ~ #}
      <a href="/Rxse/comics/">Comics</a> ~
      <a href="https://scratch.mit.edu/users/CocoasArt1">Scratch</a> ~
      <a href="https://youtube.com/channel/UCC8U-ZPoaPM55mHps171puA">Videos</a>
    </nav>
